# Dependencies
node_modules/
.pnp
.pnp.js
venv/
env/
.env
.venv

# Testing
coverage/

# Next.js
.next/
out/
build/
dist/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
develop-eggs/
eggs/
parts/
var/
sdist/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Misc
.DS_Store
*.pem
.vscode/
.idea/
*.log
tmp/
